* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.container {
    width: 1263px;
    margin: 0 auto;
}

.button {
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.button-call {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    margin-top: -4px;
    padding: 11px 35px;
    text-transform: uppercase;
    margin-right: 4px;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    padding-top: 5px;
    align-items: center;
}

.header__navigation {
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin-left: 47px;
}

.header__navigation__item a {
    font-size: 11px;
    line-height: 15px;
    color: white;
}

.header__navigation__item--active a {
    color: #E3B873;
}

.logo {
    margin-left: 4px;
    color: #E3B873;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.call {
    font-size: 11px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.stock {
    height: 105px;
    width: 600px;
    padding-left: 45px;
    top: 277px;
    border-radius: 0;
}

.title {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
}

.title__hero {
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.span-title {
    color:#E3B873;
}

.stock-paragraph {
    width: 500px;
    height: 89px;
    margin-top: 15px;
    font-size: 22px;
    line-height: 36px;
    white-space: pre;
    color: #FFFFFF;
}

.button-calculate {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-top: 44px;
    height: 51px;
    width: 207px;
    left: 134px;
    top: 531px;
}

.button-submit {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid #FFFFFF;
    background-color: transparent;
    margin-top: 23px;
    margin-left: 16px;
    height: 51px;
    width: 207px;
    left: 134px;
    top: 531px;
}

.projects {
    background-color: black;
    height: 1074px;
    padding-bottom: 90px;
}

.projects__container {
    font-size: 13px;
    line-height: 25px;
    width: 1171px;
    height: 552px;
    padding-top: 103px;
}

.projects__container .projects__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 56px;
    float: right;
    width: 623px;
    height: 24px;
}

.projects__nav__item  a {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .3);
}

.projects__nav__item--active a {
    color:#E3B873;
    display: inline-block;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 5px;
}

.projects__completed {
    display: flex;
    margin-top: 71px;
    width: 1171px;
    height: 552px;
}
.projects__completed__info {
    width: 442px;
    height: 500px;
    color:#FFFFFF;
}

.projects__completed__title {
    margin: 0;
    width: 66px;
    letter-spacing: -0.05em;
    font-size: 26px;
    line-height: 37px;
    text-transform: uppercase;
    color:#E3B873;
}

.projects__completed__description {
    margin-top: 24px;
    width: 442px;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
    white-space: pre;
}

.projects__completed__data {
    margin-top: 51px;
    display: flex; 
    flex-wrap: wrap;
}

.projects__completed__data__row {
    width: 189px;
    height: 107px;
}

.projects__completed__data__title {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    color:#E3B873;
}

.projects__completed__data__description {
    width: 100px;
    margin-top: 7px;
    line-height: 24px;
}

.projects__completed__slider {
    margin-top: -57px;
    margin-left: 2px;
    width: 203px;
    height: 53px;
    }

.projects__completed__slider__prev {
    cursor: pointer;
    position: relative;
    width: 41px;
    height: 13px;
    margin: 20px auto;
    top: 50px;
    left: -80px;
}

.projects__completed__slider__prev .prev {
    position: relative;
    top: 20px;
    width: 40px;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(255, 255, 255,  0.2);
    left: 0;
    display: block;
}

.projects__completed__slider__prev .prev::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: 3px;
    right: 35px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(255, 255, 255, 0.2);
    transform: rotate(45deg);
}

.projects__completed__slider__prev .prev::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: -3px;
    right: 35px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.projects__completed__slider__next {
    cursor: pointer;
    position: relative;
    width: 41px;
    height: 13px;
    margin: 20px auto;
    top: -45px;
    left: 81px;
}

.projects__completed__slider__next .next {
    position: relative;
    top: 20px;
    width: 40px;
    height: 1px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(255, 255, 255,  0.2);
    left: 0;
    display: block;
}

.projects__completed__slider__next .next::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: 3px;
    right: -3px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgb(255, 255, 255, 0.2);
    transform: rotate(-45deg);
}

.projects__completed__slider__next .next::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: -3px;
    right: -3px;
    background-color: #fff;
    transform: rotate(45deg);
}

.projects__completed__slider__circle {
    display: flex;
    justify-content: space-between;
    width: 63px;
    height: 10px;
    margin-left: 70px;
    margin-top: 54px;
}

.projects__completed__slider__circle__screen {
    background: rgb(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 0.7em;
    width: 0.7em;
}

.projects__completed__slider__circle--active {
    background: #fff;
}

.projects__images {
    margin-left: 50px;
    padding-top: 3px;
}
@media (max-width: 1440) {

}