* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.container {
    width: 1263px;
    margin: 0 auto;
}

.button {
    border-radius: 2px;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    text-align: center;
    color: white;
}

.button-call {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    margin-top: -4px;
    padding: 11px 35px;
    text-transform: uppercase;
    margin-right: 4px;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    padding-top: 5px;
    align-items: center;
}

.header__navigation {
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin-left: 47px;
}

.header__navigation__item a {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
}

.header__navigation__item--active a {
    color: #E3B873;
}

.logo {
    margin-left: 4px;
    color: #E3B873;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.call {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.stock {
    height: 105px;
    width: 600px;
    padding-left: 45px;
    top: 277px;
    border-radius: 0;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.span-title {
    color:#E3B873;
}

.stock-paragraph {
    width: 500px;
    height: 89px;
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    white-space: pre;
    color: #FFFFFF;
}

.button-calculate {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    margin-top: 44px;
    height: 51px;
    width: 207px;
    left: 134px;
    top: 531px;
}

.button-submit {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border: 1px solid #FFFFFF;
    background-color: transparent;
    margin-top: 23px;
    margin-left: 16px;
    height: 51px;
    width: 207px;
    left: 134px;
    top: 531px;
}

.projects {
    background-color: black;
    height: 1074px;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.projects__nav {
    display: flex;
    background-color: #E3B873;
}

.project__nav__item {
    color:#FFFFFF;
}

@media (max-width: 1440) {

}